{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div id="masthead" class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>

        <a href="/posts/">
          <li class="masthead__menu-item">
            <i class='fas fa-bullhorn fa-solid' style='color: var(--byeol-nebular);'></i>
          </li>
        </a>

        <a href="/download/">
          <li class="masthead__menu-item">
            <i class='fa-download fa-solid' style='color: var(--byeol-point);'></i>
          </li>
        </a>

        <a href="/guide/">
          <li class="masthead__menu-item">
            <i class='fa-book fa-solid' style='color: #af844d;'></i>
          </li>
        </a>

        <a href="/play/">
          <li class="masthead__menu-item">
            <i class='fa-play fa-solid' style='color: var(--byeol-grass);'></i>
          </li>
        </a>

        <a href="/ref/">
          <li class="masthead__menu-item">
            <i class='fa-search fa-solid' style='color: var(--byeol-white2);'></i>
          </li>
        </a>

        <div id="dark-mode-wrapper"></div>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>