body {
    text-align: center;
    margin: 0 auto;
}

textarea#output {
    display: none;
    background-color: #204261;
    color: #fff;
    height: 100vh;
    width: calc(100% - 100px);

    border: 0px solid;

    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;

    font-size: 15px;
    font-family: Retro Gaming;
}

textarea#output:focus {
    outline: none !important;
    box-shadow: none !important;
}

div#playbt {
    width: 100vw;
    height: 100vh;
    background-color: #204261;
}