:root {
    --byeol-white: #FFFFFF;
    --byeol-white2: #E9EBF2;
    --byeol-night: #0B1C26;
    --byeol-night2: #112A40;
    --byeol-night3: #2E4559;
    --byeol-grass: #6AB04B;
    --byeol-point: #4189A6;
    --byeol-moon: #E0B88D;
    --byeol-nebular: #ca5fa4;
    --byeol-nebular2: #F2B6D7;
}

iframe#byeol {
    width: 100%;
    height:calc(100% - 45px);
    border: 0px solid;
}
div#top_pane {
    width: 100%;
    background-color: var(--byeol-night);
    text-align: right;
    padding-right: 20px;
}

div.initial-content {
    display: flex;
    flex-direction: column;
}

div#codepad{
  width: 100%;
  height: 100%;
}

div#bottom_pane {
  display: flex;
}

div#result{
  background-color: var(--byeol-night2);
  display: none;
  position: absolute;
  z-index: 1000;
  border: 2px solid #333;
  border-radius: 16px;
  box-shadow: 5px 11px 14px 9px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(0);
  opacity: 0;
}

div.hidden-popup {
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(10px);
}

div.search-content {
    flex: 0;
    display: none;
    height: 0px;
}

@font-face {
    font-family: 'Retro Gaming';
    font-style: 'normal';
    font-weight: 400;
    src: url('Retro Gaming.ttf') format('truetype');
}

label#lb_verbose {
    display:inline;
    margin-right: 20px;
}

.bin_ver {
    font-size: smaller;
    display: contents;
}

input#runbt {
    border-radius: 1.4rem;
    background-color: var(--byeol-moon);
    width: 80px;
}

input#runbt:hover {
    background-color: var(--byeol-white2); /* $white */
}

select#dd-srcs {
    border-radius: 1.4rem;
    background-color: var(--byeol-night3);
    color: var(--byeol-white2);

    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

input#bt-close {
    float: right;
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: var(--byeol-moon);
    border-radius: 15px;
    padding-top: 5px;
}

input#bt-close:hover {
    background-color: var(--byeol-white2);
}

div#result b {
    color: #fff;
}

div#result img {
    margin-left: 20px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.slider {
    border-radius: 24px !important;
    transition: background-color 0.2s ease;
}